.GameHandContainer {
  width: 4vw;
  height: 4vh;
  /* background: black; */
  border: 1px solid black;
  position: absolute;
  /* bottom: 4vh; */

  display: flex;
  justify-content: center;
  align-items: end;
  /* gap: 0.5vw; */
  
  transition: all 0.5s ease;
}

.GameHandCardPosition {
  border: 1px solid red;
  /* min-width: 6vw;
  width: 6vw; */
  height: 100vh;

  position: relative;

  display: flex;
  align-items: end;
  justify-content: center;

  z-index: 2000;
}

.GameHandCardPivot {
  width: 100%;
  height: 0%;
  display: flex;
  align-items: end;
  justify-content: center;
  position: absolute;

  transition: transform 0.2s ease-out;
}

.GameHandCardPivot:hover {
  z-index: 100 !important;
}